
.inter-normal1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter{
    font-family: "Inter", sans-serif;

}

.raleway-normal2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway{
    font-family: "Raleway", sans-serif;

}

header{
    background-image: url('assets/Hero-bg.png');
    height: 698px;


}
body{
    margin: 0;
    background-color: #f5f8ff;
}

.navbar .div1{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}
.navbar .logo{
    font-size: 34px;
    color: rgba(78, 71, 255, 1);

}
.navbar .btn1{
    width: 132px;
    height: 48px;
    

}
.btns{
    font-size:16px ;
    font-weight: bold;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    text-align: center;
    border-radius:5px; 
    border: none;
}
.navdef{
text-align: center;
margin-top: 160 px;
margin-bottom: 0;
}
.navbar .hdef{
    font-size: 65px;
    

}
.sec1 .sdiv1-h{
    font-size: 42px;
}
.sec1 .sdiv1-p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
.btn2{
    height: 48px;
    width: 229px;
}
.sec1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 134px;
    padding-right: 159px;
    padding-left: 141px;

}
.sdiv2-img{
    border-radius: 48px;
}
.s2-h{
    font-size: 38px;
    text-align: center;
    margin-bottom: 40px;

}
.s2-div1-h{
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 0;
    

}
.s2-all-div{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 150px;
   
}
.s2-div1-p{
    font-size: 20;
    color: rgba(0, 0, 0, 0.5);

}
.sec2{
    
   
    text-align: center;
    width: 900px;
    background-color:rgba(78, 71, 255, 0.1) ;
    margin:116px 149px 0 150px;
    padding:50px 142px 50px 142px;
    border-radius: 24px;
    margin-bottom: 137px;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-right: 149px;
    margin-left: 151px;
    gap:20px;
    

}
.divlast{
    display: flex;
    align-items: center;
    
}
.avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right:20px;
}
.sec3 .div1{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding-top: 24px;
    padding-left: 24px;
    background-color: white;

}
.s3-t{
    text-align: center;
    font-size: 42px;
    margin-bottom: 55px;

}
.s3h5{
    font-size:16px;
    color: #757575;
    margin-bottom:0;
}
.s3p{
    
    color: #b3b3b3;
    font-size: 16px;
}

.s4-p{
    color: rgba(0, 0, 0, 0.5);
}
.s4-h{
    font-size: 50px;
}
.sec4{
    text-align: center;
    height: 696px;
    width: 1200px;
    margin-left: 151px;
    margin-right: 149px;
    border-radius: 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 137px;
    padding-top: 71px;
    margin-bottom: 92.23px;
    background-color: white;

}
.btn3{
    margin-top: 20px;
    height: 48px;
    width: 195px;
    margin-bottom: 20px;
}
.s4-img{
    border-radius: 48px;
}
.sec5{
    display: flex;
    margin-left: 150px;
    justify-content: space-between;
    margin-right: 150px;
    gap: 400px;
    
}
label{
    display: block;
}
.s5-h{
    font-size: 97px;
    font-weight: bold;

}
input{
    height: 70px;
    width: 497px;
    border-radius: 10px;
    border:1px solid #D6DDED;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}
textarea{
    border-radius: 10px;
     border:1px solid #D6DDED;
     padding-left: 15px;
     padding-top: 15px;
     margin-top: 10px;
}
.btn4{
    height:62px;
    width: 497px;
    margin-top: 15px;

}
footer{
    text-align: center;

}
.f-h{
    font-size: 100px;
    color:#4E47FF;
    

}
.f-p{
    font-size: 16px;
    color: #8987A1;

}
ul{
    list-style: none;
    
}

li{
    display: inline;

}